body {
  margin: 0;
  background-image: url("../../../images/pokeball_back.png");
  background-attachment: fixed;
  background-position: right;
}
.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  padding-left: 0.4rem;
  align-items: center;
  color: white;
  width: 100%;
  border: 3px solid #700404;
}

.header p:nth-child(2) {
  font-size: 0.8rem;
}
.header p:last-child {
  text-align: center;
  flex: 1;
  font-size: 1.2rem;
}
.header img {
  width: 0.9rem;
  height: 0.9rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.pokemon {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrusel {
  margin-top: 0.6rem;
  /* bac  kground-color: white; */
  width: 25%;
  text-align: center;
}
.carrusel img {
  align-self: center;
  width: 250px;
}

.species {
  text-align: center;
  width: 75%;
  color: white;
}
.species > div:first-child {
  background-color: #700404;
  padding: 0.6rem;
  font-weight: bold;
}

.species > div:last-child {
  background-color: #eaf6ff;
  color: black;
  padding: 1rem;
}

.informacion {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 1.4rem;
}
.informacion > div {
  color: white;
  width: 25%;
}
.infoGeneral {
  background-color: #700404;
  color: white;
  margin-top: 1rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoGeneral > div:first-child {
  width: 100%;
  background-color: #700404;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.infoGeneral > div:last-child {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
  background-color: #eaf6ff;
}

.tarjeta > div:first-child {
  background-color: #700404;
  text-align: center;
  padding: 0.5rem;
}
.tarjeta > div:nth-child(2) {
  flex-direction: row;
  display: flex;
  justify-content: center;
  padding: 00.5rem;
  background-color: #eaf6ff;
}
